header {
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
  strong {
    font-size: 2.4rem;
    color: var(--tg-theme-text-color);
    font-weight: 600;
    text-align: center;
  }
}